# Line Bot 設定
CHANNEL_ACCESS_TOKEN=your_line_channel_access_token
CHANNEL_SECRET=your_line_channel_secret

# MySQL 資料庫設定
MYSQL_HOST=trip.mysql.database.azure.com
MYSQL_USER=b1129005
MYSQL_PASSWORD=Anderson3663
MYSQL_DB=tourhub
MYSQL_PORT=3306
DATABASE_URL=mysql://b1129005:Anderson3663@trip.mysql.database.azure.com:3306/tourhub?ssl=true
